.kzgj-extension-manager-app,
.kzgj-extension-manager-app * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: none;
}

/*清除无名杀div默认样式*/
.kzgj-extension-manager-app,
.kzgj-extension-manager-app div,
.kzgj-div-style,
.kzgj-div-style div {
  display: block;
  position: static;
  transition: none;
  text-shadow: none;
  /* transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 0.3s; */
  transition:
    background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border-color 0.6s;
}

.kzgj-extension-manager-app button,
.kzgj-extension-manager-app input,
.kzgj-extension-manager-app select,
.kzgj-extension-manager-app option,
.kzgj-extension-manager-app textarea {
  border: none;
  padding: 0;
  outline: none;
  background: transparent;
}

.kzgj-extension-manager-app button {
  cursor: pointer;
}

.kzgj-extension-manager-app ::-webkit-scrollbar {
  display: none;
}
